article.project
    figure.project__fundo
        picture
            source(media="(min-width: 1200px)" data-srcset="./assets/img/projects/andressa.webp" type="image/webp")
            source(media="(min-width: 1200px)" data-srcset="./assets/img/projects/andressa.jpg" type="image/jpeg")
            source(media="(max-width: 1200px)" data-srcset="./assets/img/projects/sizes/andressa-lg.webp" type="image/webp")
            source(media="(max-width: 1200px)" data-srcset="./assets/img/projects/sizes/andressa-lg.jpg" type="image/jpeg")
            source(media="(max-width: 768px)" data-srcset="./assets/img/projects/sizes/andressa-md.webp" type="image/webp")
            source(media="(max-width: 768px)" data-srcset="./assets/img/projects/sizes/andressa-md.jpg" type="image/jpeg")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/andressa-sm.webp" type="image/webp")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/andressa-sm.jpg" type="image/jpeg")
            img.lazy(data-src="./assets/img/projects/andressa.jpg" alt="Andressa Tonetto Fontana" title="Andressa Tonetto Fontana")
    figure.project__logo(style={'background-color': '#222222'})
        picture
            source(media="(min-width: 576px)" data-srcset="./assets/img/projects/andressa-logo.webp" type="image/webp")
            source(media="(min-width: 576px)" data-srcset="./assets/img/projects/andressa-logo.png" type="image/png")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/andressa-logo-sm.webp" type="image/webp")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/andressa-logo-sm.png" type="image/png")
            img.lazy(data-src="./assets/img/projects/andressa-logo.png" alt="Andressa Tonetto Fontana - Logo")
    p Wordpress, HTML, CSS e Javascript
    h3 Andressa Tonetto Fontana
    .meta
        a(href="http://andressatonettofontana.com.br" rel="noopener external" target="_blank").
            !{locals.link}