article.project
    figure.project__fundo
        picture
            source(media="(min-width: 1200px)" data-srcset="./assets/img/projects/cc100.webp" type="image/webp")
            source(media="(min-width: 1200px)" data-srcset="./assets/img/projects/cc100.jpg" type="image/jpeg")
            source(media="(max-width: 1200px)" data-srcset="./assets/img/projects/sizes/cc100-lg.webp" type="image/webp")
            source(media="(max-width: 1200px)" data-srcset="./assets/img/projects/sizes/cc100-lg.jpg" type="image/jpeg")
            source(media="(max-width: 768px)" data-srcset="./assets/img/projects/sizes/cc100-md.webp" type="image/webp")
            source(media="(max-width: 768px)" data-srcset="./assets/img/projects/sizes/cc100-md.jpg" type="image/jpeg")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/cc100-sm.webp" type="image/webp")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/cc100-sm.jpg" type="image/jpeg")
            img.lazy(data-src="./assets/img/projects/cc100.jpg" alt="CC100" title="CC100")
    figure.project__logo(style={'background-color': '#f8f9fa'})
        picture
            source(media="(min-width: 576px)" data-srcset="./assets/img/projects/cc100-logo.webp" type="image/webp")
            source(media="(min-width: 576px)" data-srcset="./assets/img/projects/cc100-logo.png" type="image/png")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/cc100-logo-sm.webp" type="image/webp")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/cc100-logo-sm.png" type="image/png")
            img.lazy(data-src="./assets/img/projects/cc100-logo.png" alt="CC100 - Logo")
    p Wordpress, HTML, CSS e Javascript
    h3 CC100
    .meta
        a.link(href="https://www.cc100.com.br" rel="noopener external" target="_blank").
            !{locals.link}