article.project
    figure.project__fundo
        picture
            source(media="(min-width: 1200px)" data-srcset="./assets/img/projects/elitize.webp" type="image/webp")
            source(media="(min-width: 1200px)" data-srcset="./assets/img/projects/elitize.jpg" type="image/jpeg")
            source(media="(max-width: 1200px)" data-srcset="./assets/img/projects/sizes/elitize-lg.webp" type="image/webp")
            source(media="(max-width: 1200px)" data-srcset="./assets/img/projects/sizes/elitize-lg.jpg" type="image/jpeg")
            source(media="(max-width: 768px)" data-srcset="./assets/img/projects/sizes/elitize-md.webp" type="image/webp")
            source(media="(max-width: 768px)" data-srcset="./assets/img/projects/sizes/elitize-md.jpg" type="image/jpeg")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/elitize-sm.webp" type="image/webp")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/elitize-sm.jpg" type="image/jpeg")
            img.lazy(data-src="./assets/img/projects/elitize.jpg" alt="Elitize" title="Elitize")
    figure.project__logo(style={'background-color': '#000000'})
        picture
            source(media="(min-width: 576px)" data-srcset="./assets/img/projects/elitize-logo.webp" type="image/webp")
            source(media="(min-width: 576px)" data-srcset="./assets/img/projects/elitize-logo.png" type="image/png")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/elitize-logo-sm.webp" type="image/webp")
            source(media="(max-width: 576px)" data-srcset="./assets/img/projects/sizes/elitize-logo-sm.png" type="image/png")
            img.lazy(data-src="./assets/img/projects/elitize-logo.png" alt="Elitize - Logo")
    p Wordpress, HTML, CSS e Javascript
    h3 Elitize
    .meta
        a.link(href="https://elitizers.com.br" rel="noopener external" target="_blank").
            !{locals.link}