header
    block header
        a(href="/").logo
            span.logo__item i
            span.logo__item i
        .head
            h1.glitch.head__title(data-text="Ítalo Iung") Ítalo Iung   
            h1.h4.head__description Desenvolvedor front-end focado em performance
        include ./nav
    
