$font-body: "Ubuntu Mono", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-heading: "Nova Square", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-items: "Raleway", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$text-primary: #ddffeb !default;
$light-pink: #ffd6d6 !default;
$dark-pink: #da817f !default;
$bg-color: #06231a !default;
$dark-blue: #080808 !default;
$highlight: #265b4a !default;
$highlight-pink: #ff8c69 !default;
$error: #a63232 !default;

$max-width: 1200px !default;

$screen-xs-min: 320px !default;

$screen-sm-min: 576px !default;

$screen-md-min: 768px !default;

$screen-lg-min: 992px !default;

$screen-xl-min: 1200px !default;
