section.secondary-section.secondary-section--cases#cases
    .secondary-section__item.secondary-section__item--head
        h2.glitch(data-text="Cases") Cases
        include ../includes/nav
    .secondary-section__item.secondary-section__item--content
        include ../cases/amanda
        include ../cases/italo