section.secondary-section.secondary-section--projects#projetos
    .secondary-section__item.secondary-section__item--head
        h2.glitch(data-text="Projetos") Projetos
        include ../includes/nav
    .secondary-section__item.secondary-section__item--content
        include ../projects/iung
        include ../projects/italo
        include ../projects/amanda
        include ../projects/marcos
        include ../projects/cc100
        include ../projects/abreast
        include ../projects/serro
        include ../projects/andressa
        include ../projects/moix
        include ../projects/open