section.main-section
    video.lazy#videoBackground(loop autoplay muted data-src="./assets/vid/cover.mp4" data-poster="./assets/img/cover.webp")
        source(type="video/mp4" data-src="./assets/vid/cover.mp4")
        source(type="video/ogv" data-src="./assets/vid/cover.ogv")
        source(type="video/webm" data-src="./assets/vid/cover.webm")