section.secondary-section.secondary-section--about#sobre
    .secondary-section__item.secondary-section__item--head
        h2.glitch(data-text="Sobre") Sobre
        include ./includes/nav.pug
    .logo-aside
        .logo
            span.logo__item i
            img.lazy(data-src="./assets/img/sobre_clipped_1.png")
            span.logo__item i
    .secondary-section__item.secondary-section__item--content
        h3 O que já fiz
            span.aside Experiência
        p 
            | Iniciei minha jornada no desenvolvimento web aos 16 anos, quando me formei técnico em informática pelo
            | Instituto Federal Sul-Rio-Grandense de Charqueadas. Logo após concluir o curso, realizei meu estágio obrigatório
            | na 
            a(href="https://ondaweb.com.br/") Ondaweb
            | , onde, primeiramente, atuei apenas como atendente de suporte ao cliente, fazendo simples alterações em projetos já entregues. 
            br
            | No entanto, ao decorrer do meu
            | primeiro mês, tornei-me responsável pelo controle das demandas do setor de suporte, passando tarefas aos demais estagiários e estando em contato direto com o cliente.
            | Também me vi responsável pelo desenvolvimento de novos projetos, fazendo a criação de temas Wordpress personalizados para a necessidade de cada cliente.
        p
            | Assim que concluí o estágio obrigatório, fui contratado por outra agência, a 
            a(href="http://www.falcon5m.com.br/") Falcon5M
            | . Lá, era responsável, novamente, pelo suporte ao cliente, pela criação de temas Wordpress e, também, adquiri novas atividades, como o planejamento
            | após o 
            em briefing  
            | e o 
            em follow up 
            | com o cliente tendo o projeto finalizado.
        p
            | No ano seguinte, dei continuidade a projetos pessoais, aperfeiçoando minhas habilidades como desenvolvedor. Decidi focar
            | meus estudos nas tecnologias em ascensão e me encontrei no universo do Javscript junto a tecnologias tecnologias 
            em serverless.
        h3 O que sei fazer 
            span.aside Skills
        p 
            | Atualmente, venho me aperfeiçoando no 
            strong Javascript
            | , utilizando nos meu últimos projetos 
            strong Headless Wordpress + Gatsby.js 
            | para que o usuário final possa ter uma interface com a qual já está acostumado e, ainda assim, uma página com alta performance.
            | Para ir além da minha experiência profissional focada 
            strong Wordpress
            | . 
        p
            | Para este projeto, meu portfólio, utilizei da 
            em Template Engine 
            strong Pug.js 
            | para criação da estrutura HTML das páginas, do pré-processador CSS 
            strong Sass 
            | seguindo o padrão 
            strong BEM 
            | e 
            strong Javascript 
            | utilizando, sempre, os padrões mais atualizados do 
            strong ECMAScript 
            | todos sendo compilado e otimizado pelo automatizador de processos 
            strong Gulp.js
            br
            | O resultado você pode ver aqui ou no 
            a(href="https://github.com/italoiung/italo.iung") GitHub
        p
            | Acumulei vários conhecimentos ao longo da minha trajetória acadêmica e profissional 
            | que foram - e ainda são - de extrema utilidade para mim.
            | Dos quais, o principal deles seria a linguagem de programação 
            strong PHP 
            | alinhada com bancos de dados em 
            strong MySQL 
            | e usando os frameworks 
            strong CodeIgniter, Laravel e Yii
            | . Também, o domínio básico em ferramentas de design gráfico, como o pacote Adobe.
        p
            | No momento, estou me aperfeiçoando nos 
            em frameworks 
            strong React.js 
            | e 
            strong Vue.js
            | , em 
            strong Node.js
            | . Além disso, sigo estudando 
            strong Next.js
            | , 
            strong Express.js 
            | e 
            strong MongoDB 
            | para meus projetos futuros.
        h3 O que prezo
            span.aside Princípios
        include ./includes/principios.pug

        
