section.secondary-section.secondary-section--contact#contato
    .secondary-section__item.secondary-section__item--head
        h2.glitch(data-text="Contato") Contato
        include ./includes/nav.pug
    .secondary-section__item.secondary-section__item--content
        p Se você quer colaborar na criação de experiências incríveis, entre em contato comigo
        p No momento, disponível para trabalho em tempo integral e para projetos freelance
        p
            | Você pode me contatar através do e-mail 
            a(href="mailto:italo@iung.me") italo@iung.me
            | , 
            br
            |  do telefone 
            a(href="tel:+5551995143450") +55 51 9 9514-3450
            |  ou através do seguinte formulário
        form#contact-form
            .grid-form-group
                .form-group
                    label(for="nome") Nome
                    input#nome(type="text" name="nome" placeholder="Seu nome aqui..." required)
                .form-group
                    label(for="email") E-mail
                    input#email(type="email" name="email" placeholder="Seu e-mail aqui..." required)
            .form-group
                label(for="assunto") Assunto
                input#assunto(type="text" name="assunto" placeholder="O assunto da mensagem aqui..." required)
            .form-group
                label(for="mensagem") Mensagem
                textarea#mensagem(type="text" name="mensagem" placeholder="Sua mensagem aqui..." required)
            button(type="submit") Enviar