section.secondary-section.secondary-section--projects#projetos
    .secondary-section__item.secondary-section__item--head
        h2.glitch(data-text="Projetos") Projetos
        include ./includes/nav.pug
    .secondary-section__item.secondary-section__item--content
        include ./projects/italo.pug
        include ./projects/amanda.pug
        include ./projects/marcos.pug
        include ./projects/cc100.pug
        include ./projects/abreast.pug
        include ./projects/serro.pug
        include ./projects/elitize.pug
        include ./projects/andressa.pug
        include ./projects/moix.pug
        include ./projects/open.pug